@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.wrap {
  width: 1440px;
  margin: 0 auto;
}

.header {
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-flag {
  display: inline-block;
  margin-right: 5px;
  vertical-align: middle;
}

.header-flag--ru {
  -webkit-filter: drop-shadow(1px -1px 2px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(1px -1px 2px rgba(0, 0, 0, 0.25));
  position: relative;
  top: -1px;
}

.header-coutry {
  font-size: 12px;
  line-height: 14px;
}

.header-phone {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #141b2d;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 100px;
}

.header-logo {
  text-decoration: none;
  color: #fff;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 94px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 95px;
}

.header-languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.header-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.header-language {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  color: #000;
}

.nav {
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #141b2d;
}

.nav-wrap {
  position: relative;
}

.nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

.nav-right {
  position: absolute;
  right: 70px;
  bottom: 7px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
}

.slider {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/slider1.png);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/slider1.png);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 139px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-hr {
  color: #fff;
  margin-top: 10px;
  width: 100%;
}

.slider-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  text-align: center;
  color: #fff;
}

.slider-text {
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 40px;
}

.services-header {
  background-color: #141b2d;
  height: 117px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-header-text {
  text-align: center;
  display: block;
  color: #fff;
  font-weight: 500;
  font-size: 32px;
}

.services-wrap {
  padding: 30px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services-item {
  width: 300px;
  height: 320px;
  background-repeat: no-repeat;
  background-position: bottom;
}

.services-item--1 {
  background-image: url(../img/services1.jpg);
}

.services-item--2 {
  background-image: url(../img/services2.jpg);
}

.services-item--3 {
  background-image: url(../img/services3.jpg);
}

.services-item--4 {
  background-image: url(../img/services4.jpg);
}

.services-item-title {
  margin: 5px 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

.services-triangles {
  height: 100px;
}

.services-triangles-left {
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  background: -webkit-gradient(linear, right top, left bottom, from(transparent), color-stop(50%, transparent), color-stop(51%, #141b2d), to(#141b2d));
  background: linear-gradient(to bottom left, transparent, transparent 50%, #141b2d 51%, #141b2d);
  float: left;
}

.services-triangles-right {
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(transparent), color-stop(50%, transparent), color-stop(51%, #141b2d), to(#141b2d));
  background: linear-gradient(to bottom right, transparent, transparent 50%, #141b2d 51%, #141b2d);
  float: right;
}

.search {
  height: 300px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../img/search-bg.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/search-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 65px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.search-params {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.search-param {
  padding: 10px;
  display: block;
  width: 262px;
  height: 48px;
  border-radius: 5px;
  border: 2px solid;
  font-size: 17px;
}

.search-button {
  background: none;
  border: none;
}

.result-items {
  padding: 80px 110px 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 70px 15px;
}

.result-item {
  width: 400px;
  height: 450px;
  -webkit-box-shadow: 0px 3px 10px #4764c344;
          box-shadow: 0px 3px 10px #4764c344;
}

.result-item__title {
  font-weight: 700;
  font-size: 22px;
  color: #141b2d;
  text-transform: uppercase;
  line-height: 24px;
}

.result-item__price {
  margin: 0px 23px 8px;
  font-weight: 700;
  font-size: 20px;
  color: #e3bb2c;
}

.result-item__title-wrap {
  height: 52px;
  margin: 20px 23px 0px;
}

.result-item__icon {
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 7px;
}

.result-item__icon--square {
  margin-left: 1px;
  margin-right: 9px;
}

.result-item__desc {
  font-weight: 400;
  font-size: 19px;
  color: #141b2d;
  margin: 5px 23px 5px;
}

.results-more {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  margin-bottom: 40px;
  font-size: 17px;
  color: #0039a6;
  text-decoration: none;
}

.post-services {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/slider5.png);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/slider5.png);
  background-size: cover;
  background-position: center;
  padding: 60px 30px;
}

.post-services-title {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  text-align: center;
}

.post-services-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (400px)[2];
      grid-template-columns: repeat(2, 400px);
  gap: 80px 220px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.post-services-item__fieldset {
  width: 400px;
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 10px 20px 37px;
}

.post-services-item__legend {
  text-align: center;
  padding: 0px 20px;
}

.post-services-item__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin: 10px 15px 15px;
}

.post-services-item__text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fff;
}

.media {
  background: #141b2d;
}

.media-wrap {
  padding: 50px 100px;
}

.media-title {
  color: #fff;
  font-size: 40px;
}

.media-desc {
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  width: 570px;
}

.media-content {
  padding: 30px 15px 0px;
  width: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.media-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.media-items {
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.media-unit {
  font-weight: 600;
  font-size: 20px;
  color: #000;
}

.media-link {
  margin-top: 20px;
  font-size: 20px;
  color: #0039a6;
  text-decoration: none;
}

.media-image {
  width: 240px;
}

.media-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 600px;
  height: 400px;
  background: #fff;
  padding: 24px;
  border-radius: 10px;
  position: relative;
}

.media-quote {
  width: 57px;
  height: 57px;
  position: absolute;
  top: -28px;
}

.questions {
  background: #141b2d;
  padding: 50px 100px;
}

.questions-title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  color: #fff;
}

.questions-items {
  margin-top: 50px;
}

.questions-item {
  background: #0a0d16;
  border-radius: 8px;
}

.questions-checkbox {
  display: none;
}

.questions-label {
  display: block;
  padding: 8px 22px;
  margin: 0 0 1px 0;
  cursor: pointer;
  color: #fff;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.questions-label:hover {
  display: inherit;
}

.questions-content {
  padding: 10px 25px;
  margin: 0 0 1px 0;
  color: #fff;
}

input + label + .questions-content {
  display: none;
}

input:checked + label + .questions-content {
  display: block;
}

.header-search,
.header-menu {
  background-color: transparent;
  border: none;
}

.header-profile,
.header-cart {
  text-decoration: none;
  color: #fff;
}

.offers-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offers-item {
  background-color: #c4c4c4;
  width: 360px;
  height: 260px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.offers-item--accessories {
  margin-top: 30px;
  width: 100%;
  height: 180px;
  background-image: url(../img/offers-accessories.jpg);
}

.offers-item--women {
  background-image: url(../img/offers-women.jpg);
}

.offers-item--men {
  background-image: url(../img/offers-men.jpg);
}

.offers-item--kids {
  background-image: url(../img/offers-kids.jpg);
}

.offers-item--sale {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.offers-item--name {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.featured {
  margin-top: 96px;
}

.featured-title {
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.featured-description {
  text-align: center;
  font-weight: 400;
  color: #9f9f9f;
  margin-top: 6px;
}

.featured-elements {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.featured-item {
  width: 360px;
  height: 581px;
  background-color: #f8f8f8;
}

.featured-item--image {
  width: 360px;
  height: 420px;
}

.featured-item--title {
  margin: 25px 16px 0 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
}

.featured-item--text {
  margin: 13px 16px 0 16px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.featured-item--price {
  margin: 18px 16px 0 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.featured-button {
  background-color: transparent;
  border: 1px solid #ff6a6a;
  margin: 49px auto 0px;
  display: block;
  padding: 19px 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
}

.benefits {
  background-color: #222224;
  padding: 103px 0;
}

.benefits-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 30px;
}

.benefits-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position-x: center;
}

.benefits-item--1 {
  background-image: url(../img/benefits-1.svg);
}

.benefits-item--2 {
  background-image: url(../img/benefits-2.svg);
}

.benefits-item--3 {
  background-image: url(../img/benefits-3.svg);
}

.benefits-item--title {
  margin-top: 60px;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.benefits-item--text {
  margin-top: 16px;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

.subscribe {
  height: 448px;
  background-image: url(../img/subscribe-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.subsrcibe-review {
  width: 360px;
  background-image: url(../img/review.png);
  background-repeat: no-repeat;
  background-position-x: center;
}

.subscribe-review--text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 126px;
}

.subscribe-section {
  width: 558px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-section--row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
}

.subscribe-section--title {
  font-weight: 700;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe-section--text {
  font-weight: 400;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe-section--input {
  background: #e1e1e1;
  outline: none;
  border: none;
  width: 256px;
  height: 49px;
  border-radius: 24px 0 0 24px;
}

.subscribe-section--input::-webkit-input-placeholder {
  padding-left: 23px;
}

.subscribe-section--input:-ms-input-placeholder {
  padding-left: 23px;
}

.subscribe-section--input::-ms-input-placeholder {
  padding-left: 23px;
}

.subscribe-section--input::placeholder {
  padding-left: 23px;
}

.subscribe-section--link {
  text-decoration: none;
}

.subscribe-section--button {
  width: 100px;
  height: 49px;
  background: #f16d7f;
  border-radius: 0 24px 24px 0;
  text-align: center;
  line-height: 49px;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}

.bottom {
  background-color: #222224;
  padding: 24px 0;
}

.bottom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.bottom-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}
